.container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            height: 64px;
            width: 64px;
            background-color: aquamarine;
        }

        .text {
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            align-content: space-between;
        }
    }
}