
@keyframes blink {
  from {background-color: yellow;}
  to {background-color: white;}
}

.greeting {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 30px;
    display:flex;
    flex-direction: row;
    font-size: 350px;

    .bar {
      height: auto;
      width: 10px;
      animation-name: blink;
      animation-duration: 800ms;
      animation-iteration-count: infinite;

    }
}

.presentation {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    .text {
      font-size: xx-large;

      .purple {
        color: purple;
      }

      span {
        padding-right: 10px;
      }
    }

    .resume{
      color: purple;
      margin-left: 30px;
      word-spacing: 10px;
      padding: 10px;
      background-color: white;
      border: 2px solid purple;
    }

    .resume:hover {
      background-color: purple;
      color: white;
      cursor: pointer;
    }
}