.container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

    .info {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .logo {
            background-color: rgb(244, 237, 248);
            border-radius: 100px;

            img {
                height: 64px;
                width: 64px;
                border-radius: 100px;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            margin-left: 8px;

            .university {
                margin-top: 5px;
                font-weight: 200;
            }

            .degree {
                font-weight: 500;
            }
        }
    }
    
    .period {
        font-weight: 200;
        font-style: italic;
    }
}