@keyframes blink {
  from {background-color: yellow;}
  to {background-color: white;}
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', sans-serif;

  .header-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
    
    .tab {
      padding-left: 10px;
      align-self: center;
      cursor: pointer;
      padding-right: 2px;
      border-right: 2px solid white;
      font-weight: lighter;

      &.selected {
        font-weight: bold;
      }
    }

    .tab:hover {
      border-right: 2px solid purple;
    }

    
    .name {
      font-size:xx-large;
    }
    
    .role {
      font-size:small;
      align-self: flex-end;
      padding-left: 10px;
      opacity: 0.4;
    }
  }
}

